:root {
    --commandButton-defaultButtonFace: #EEEEEE;
    --commandButton-hoverButtonFace: #DDDDDD;
    --commandButton-activeButtonFace: #CCCCCC;
}

.command-button {
    display: flex;
    position: relative;
}

.button {
    flex: 1;
    display: inline-block;
    background: var(--commandButton-defaultButtonFace);
    color: #444444;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: var(--commandButton-hoverButtonFace);
}

.button:active {
    background: var(--commandButton-activeButtonFace);
}

.message-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    position: absolute;
    right: 100%;
    height: 100%
}
