.copy-text-button {
    display: flex;
}

.data {
    flex: 1;
    overflow: auto;
    white-space: nowrap;
    margin-right: 1rem;
    border-bottom: 1px solid #EEEEEE;
    padding: 0.75rem;
    box-sizing: border-box;
    line-height: 1rem;
    color: #444444;
    user-select: text;
    cursor: text;
}

.data::-webkit-scrollbar {
    display: none;
}

.button {
    padding: 0.75rem 2rem;
    line-height: 1;
}
